* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
}

:root {

    --white: #FFFFFF;
    --grey: #b4b4b4;

    --accent-red: #e50914;
    --accent-red-dark: #C11119;

    --gradient-left: #5c32bf;
    --gradient-mid: #8f2280;
    --gradient-right: #e40915;

    --non-active-dark: #1a1a1a;
    --active-dark: #333333;
}

html,
body {

    /* sizing */
    min-height: 100vh;
    width: 100%;
}

main {

    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* sizing */
    min-height: 100vh;
    width: 100%;

    /* spacing */
    margin-top: 50px;

    /* colors */
    background-color: black;

}


/* Free for 7 Days Navigation Bar */

.freeForWeek-nav {

    /* positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* sizing */
    height: 50px;
    width: 100%;

    /* spacing */
    gap: 0.5rem;

    /* colors */
    color: white;
    background: linear-gradient(to right, var(--gradient-left)28%, var(--gradient-mid) 45%, var(--gradient-right) 100%);
}

#giftIcon-img {

    /* filters */
    filter: invert(1);
}

.freeForWeek-nav p {

    font-size: 0.96rem;
    font-weight: 700;
}


.hero-section {

    /* positioning */
    position: relative;

    /* sizing */
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;

    /* spacing */
    margin: auto;

    isolation: isolate;
}

.hero-section::before {

    /* positioning */
    position: absolute;
    z-index: -1;

    content: "";
    inset: 0;
    background-image: url(media/images/heroimg.jpg);

    /* appearance */
    pointer-events: none;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 0.35;
}

.hero-section::after {

    content: "";
    position: absolute;
    inset: 0;

    background: radial-gradient(ellipse at center,
            transparent 50%,
            rgba(0, 0, 0, 0.4) 70%,
            rgba(0, 0, 0, 0.9) 90%);

    pointer-events: none;
}

.mainhero-nav {

    /* positoning */
    z-index: 1;

    /* layout */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* sizing */
    height: 5rem;
    width: 80%;

    /* spacing */
    margin: auto;

}

.netflixLogo-a {

    /* positioning */
    z-index: 2;

}

.netflixLogo-img {

    /* sizing */
    height: 40px;
    width: 150px;

    /* spacing */
    margin: 0.5rem;
    margin-top: 1.2rem;
}

.heroSigninButton-a {

    /* positioning */
    z-index: 2;

    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* sizing */
    height: 2rem;
    width: 5rem;

    /* spacing */
    padding: 0.8rem;

    /* typography */
    font-size: 0.9rem;
    font-weight: 600;

    /* colors */
    color: var(--white);
    background-color: var(--accent-red);

    /* appearance */
    border-radius: 5px;
    border: none;
}

.heroSigninButton-a:hover {

    /* colors */
    background-color: var(--accent-red-dark);

    /* appearance */
    cursor: pointer;
}

.HeroContent-div {

    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* sizing */
    height: 80%;
    width: 100%;

    /* typography */
    text-align: center;

    /* colors */
    color: var(--white);

}

.HeroContent-div h1 {

    /* spacing */
    margin-bottom: 1rem;

    /* typography */
    font-weight: 750;
    font-size: clamp(2rem, 5vw, 3.5rem);

}

#heroPara1 {

    /* spacing */
    margin-bottom: 2rem;

    /* typography */
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 1.3rem);
}

.HeroContent-div h3 {

    /* spacing */
    margin-bottom: 0.5rem;

    /* typography */
    font-weight: 400;
    font-size: 1rem;
    word-spacing: 1px;
}

.emailSignin-div {

    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* sizing */
    width: 100%;

    /* spacing */
    margin-top: 0.4rem;
    gap: 0.6rem;

}

.emailSignin-div input {

    /* sizing */
    height: 56px;
    width: 287px;

    /* spacing */
    padding: 0.6rem;

    /* typography */
    font-size: 1rem;
    font-weight: 500;

    /* colors */
    color: var(--white);
    background-color: rgba(42, 42, 42, 0.3);

    /* appearance */
    border: 1px solid var(--grey);
    border-radius: 4px;
}

.emailSignin-div input:focus {

    outline: 2px solid white;
}

.emailSignin-div button {

    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* sizing */
    height: 56px;
    width: 292px;

    /* spacing */
    padding: 0.2rem;
    gap: 0.8rem;

    /* typography */
    font-size: 1.5rem;
    font-weight: 800;

    /* colors */
    color: var(--white);
    background-color: var(--accent-red);

    /* appearance */
    border: none;
    border-radius: 4px;

}

.emailSignin-div button:hover {

    /* colors */
    color: var(--white);
    background-color: var(--accent-red-dark);

    /* appearance */
    cursor: pointer;

}

#arrowIcon {

    /* typography */
    font-size: 1.2rem;

    /* aniamtions */
    transform: rotate(270deg);
}

#heroPara2 {

    /* spacing */
    margin: 0.4rem;
    margin-top: 0.8rem;

    /* colors */
    color: var(--grey);
}

/* ------------------------------------------------------------------ */

/* Content Section */

.content-section {

    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* sizing */
    height: auto;
    width: 75%;
}

.shows-section {

    /* positioning */
    position: relative;

    /* sizing */
    width: 100%;
}

#trendingNow-h2 {

    /* colors */
    color: var(--white);
}

#showContainerList-ul {

    /* sizing */
    width: 100%;
    max-width: 100%;

    /* layout */
    display: flex;
    align-items: center;

    /* appearance */
    list-style: none;

    /* overflow */
    overflow-y: hidden;
    overflow-x: auto;

    scrollbar-width: none;
}

.showContainerList-ul::-webkit-scrollbar {

    display: none;
}

.showScroll-button {

    /* positioning */
    position: absolute;
    z-index: 10;
    top: 50%;

    /* sizing */
    height: 120px;
    width: 24px;

    /* spacing */
    padding: 0.2rem;

    /* colors */
    background-color: var(--non-active-dark);

    /* appearance */
    border: none;
    border-radius: 5px;

    /* animations */
    transform: translateY(-50%);
}

#showScrollButtonLeft-button {

    /* positioning */
    left: -4%;

}

#showScrollButtonRight-button {

    /* positioning */
    right: -4%;

}

.scrollArrowButton-img {

    /* sizing */
    width: 1rem;
    aspect-ratio: 1/1;
}

#showScrollImageRight-img {

    transform: rotate(180deg);
}

.showScroll-button:hover {

    /* colors */
    background-color: var(--active-dark);
}

.showScroll-button:hover .scrollArrowButton-img {

    /* filters */
    filter: brightness(0) invert(1);
}

.showListElement-li {

    flex: 0 0 auto;

    /* spaicng */
    padding: 0.5rem 1.5rem;
}

.showImage-span {

    /* layout */
    display: inline-block;

    /* sizing */
    height: 252px;
    width: 180px;

    /* appearance */
    border-radius: 8px;
}

#show1 {

    /* appearance */
    background-image: url(media/images/show1.webp);
}

#show2 {

    /* appearance */
    background-image: url(media/images/show2.webp);
}

#show3 {

    /* appearance */
    background-image: url(media/images/show3.webp);
}

#show4 {

    /* appearance */
    background-image: url(media/images/show4.webp);
}

#show5 {

    /* appearance */
    background-image: url(media/images/show5.webp);
}

#show6 {

    /* appearance */
    background-image: url(media/images/show6.webp);
}

#show7 {

    /* appearance */
    background-image: url(media/images/show7.webp);
}

#show8 {

    /* appearance */
    background-image: url(media/images/show8.webp);
}

#show9 {

    /* appearance */
    background-image: url(media/images/show9.webp);
}

#show10 {

    /* appearance */
    background-image: url(media/images/show10.webp);
}

/* ------------------------------------------------------------------ */


/* MEDIA QUERIES */

@media(max-width: 900px) {

    .emailSignin-div {
        
        flex-direction: column;
    }

}

@media(max-width: 600px) {

    .hero-section {

        aspect-ratio: 9 / 16;
    }

    /* .emailSignin-div {

    } */

    .emailSignin-div input {
        width: min(100%, 292px);
    }

    .emailSignin-div button {

        width: min(100%, 292px);
    }

}

/* ------------------------------------------------------------------ */